<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="{{ title }}" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../../styles/common.css" />
    <link rel="stylesheet" href="../../styles/blogpost.css" />
    <link rel="stylesheet" href="../../styles/prism-theme.css"/>
  </head>
  <body>
    <div class="container post-container">
      <header>
        <aside class="post-bio m-b-4">
          <div>
            <a href="/">
              <img class="logo" src="https://avatars.githubusercontent.com/u/5290786" alt="">
            </a>
          </div>
          <div class="post-author p-l-2">
            <p class="text-base m-b-1">
              <a href="/">Vais Mahendran</a>
            </p>
            <div class="text-dark-muted">
              <p class="m-b-1">Software developer, naive Canucks fan, and other random stuff.</p>
              <p>Posted {{ date | date: "%b %d %Y" }}</p>
            </div>
          </div>
        </aside>
        <h2>{{ title }}</h2>
      </header>
      <div class='content'>{{ content }}</div>
    </div>
  </body>
</html>
